a {
    color: blue;
    text-decoration: underline;
    text-align: right;
    display: block;
}

a,
button:hover {
    cursor: pointer;
}

/* #tela_inicial{

} */

#body_home {
    background: url("img/4.png");
    background-size: 100%;
    justify-content: center;
    display: flex;
}

#tela_inicial {
    margin-top: 12%;
    padding: 30px;
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
}

#form_post button {
    width: 100%;
    height: 37px;
    border-radius: 7px;
    font-size: 13pt;
    background-color: rgb(164, 171, 204);
}

#tela_inicial button {
    width: 100%;
    height: 37px;
    border-radius: 7px;
    font-size: 13pt;
    background-color: rgb(164, 171, 204);
}

button:hover {
    background-color: rgb(114, 125, 188);
}

#tela_inicial input {
    width: 97.7%;
    height: 30px;
    margin-bottom: 10px;
}

header {
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: end;
    font-size: 13pt;
    margin-bottom: 5px;
}

#form_post {
    background-color: white;
    border-radius: 25px;
    width: 500px;
    height: 600px;
    padding: 30px;
}

#form_post input,
textarea,
select {
    width: 97.7%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 13pt;
}

textarea {
    height: 200px;
}

#menubutton {
    background-color: rgb(114, 125, 188);
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}

#menubutton:hover {
    background-color: rgb(114, 125, 188);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 43px;
}

.dropdown img {
    height: 10px;
    margin-left: 10px;
}

.submenu {
    display: none;
    background-color: rgb(255, 255, 255);
}

.submenu a {
    color: rgb(114, 125, 188);
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .submenu {
    display: block;
}

#body_post section {
    padding: 4%;
    display: flex;
    justify-content: center;
    background-color: rgb(224, 228, 253);
}

#body_post a {
    margin-right: 15px;
}

#menu_nav {
    display: flex;
    align-items: end;
}
#menu_nav a{
    margin-right: 15px;
    color: rgb(114, 125, 188);
}

.section {
    padding: 4%;
    display: flex;
    justify-content: center;
    background-color: rgb(224, 228, 253);
}

section{
    min-height: 10px;
}

.post {
    background-color: rgb(114, 125, 188);
    border-radius: 10px;
    width: 800px;
}

.conteudopost {
    background-color: rgb(224, 228, 253);
    margin: 15px 15px;
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.titulopost {
    color: rgb(164, 171, 204);
}

.textopost {
    font-size: 14pt;
}

.botao img {
    width: 30px;
}

.postbotoes {
    display: flex;
    align-items: center;
}

.botao {
    margin-left: 10px;
}
.errado{
    border: 2px solid rgb(182, 26, 26);
    border-radius: 3px;
    text-align: center;
}
